.bookings__page{
.bookings__section--list--item {
    border: 2px solid #6435c9;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6435c9;
    .header{
        font-weight: bolder;
    }
    .description{
        font-weight: lighter;
    }
    .bookings__section--list--item--actions{
        display: grid;
        grid-gap: 10px;
    }
    &:hover{
        background:#6435c921 ;
        box-shadow: 0 0 5px #6435c9;
    }
}
// .ui.menu{
//     .active.item {
//     color: #6435c9;
//     }
// }
.ui.secondary.pointing.menu {
        .item {
            cursor: pointer;
        &.active {
            color: #6435c9;
            border-color: #6435c9;
        }
        }
    }
    .bookings__section--chart{
        width: 40%;
        height: 250px;
        margin:auto

    }
}