.create__event--modal,
.view__detail--modal{
        padding:20px;
        .header{
            margin-bottom: 20px;
            color:#6435c9;
        }
        .actions {
            display: flex  ;
            grid-gap:10px;
            justify-content: flex-end;
        }
      
        .icon.modal--close{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -10px;
            right: -10px;
            background-color: #fff;
            cursor: pointer;
            i {
                margin:0
            }
            &:hover{
                background: #6435c9;
                color: #fff;
            }
        }
    }